# Apache files.
*.conf text eol=lf

# Debian files.
*.list text eol=lf
passwd text eol=lf

# Docker files.
Dockerfile text eol=lf

# Git files.
.gitattributes text eol=lf
.gitignore text eol=lf

# Markdown files.
*.md text eol=lf
